      	<div class="jumbotron">
        	<h1>Find out what you want to eat <i>now.</i></h1>
        	<p>Feeling hungry?  Let our snack selector choose the right snack for you!</p>
				
					<a href="/survey" class="btn btn-info" id="gotosurvey" role="button">Take our survey 		<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>	</a>
				</div>