<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><% siteTitle %></title>
		<% include partials/loadbootstrap.ejs %>
		


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
		<% include partials/navbar.ejs %>

    <div class="container theme-showcase" role="main">
			<div id="p" class="maincontent">
				<% if(pageID == 'home') { %>
					<% include partials/content/indexnavbar.ejs %>
				<% } else if (pageID == 'snacklist') { %>
					<% include partials/content/snacklist.ejs %>
				<% } else if (pageID == 'about') { %>
					<h2>About <%= siteTitle %></h2>
					<hr \>
					<p><%= siteTitle %> works by your submitted answers and scoring our database of snacks based on your preferences.  For each matching attribute, each snacks 'score' gets incremented.  Taken over all the appropriate questions, the best matches based on your preferences emerge to the top and are presented as the top results.</p>
					<p></p>
					<p><%= siteTitle %> was created as a experimental project and is still a work in progress.  Please note any feedback and send it through our contact information.</p>
				<% } %>
			</div>
			<% include partials/about.ejs %>

    </div> <!-- /container -->


		<% include partials/scripts.ejs %>
  </body>
</html>
